<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionInterim"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <service android:name=".services.InscriptionService"/>
        <service android:name=".services.LoginService"/>
        <service android:name=".services.InscriptionValidationService"/>
        <service android:name=".services.OffresService"/>
        <service android:name=".services.AbonnementsService"/>
        <service android:name=".services.MissionEmployerService"/>
        <service android:name=".services.ProfilEmployerService"/>
        <service android:name=".services.SuppresionCompteService"/>
        <service android:name=".services.CandidatureResultService"/>
        <service android:name=".services.CandidatureService"/>
        <activity
            android:name=".message.ConversationListActivity"
            android:exported="false" />

        <activity
            android:name=".slides.FirstSlidesActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:parentActivityName=".slides.FirstSlidesActivity" />
        <activity
            android:name=".inscription.InscriptionActivity"
            android:exported="false"
            android:parentActivityName=".slides.FirstSlidesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".utilisateurAnonyme.MainAnonymeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".utilisateurInterimaire.MainInterimaireActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".utilisateurEmployeur.MainEmployeurActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".utilisateurEmployeur.SlidesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".utilisateurEmployeur.ActivityAbonnement"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <service android:name=".services.InscriptionService" />
        <service android:name=".services.LoginService" />
        <service android:name=".services.InscriptionValidationService" />
        <service android:name=".services.OffresService" />
        <service android:name=".services.AbonnementsService" />
        <service android:name=".services.MissionEmployerService" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>